@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: blanchedalmond;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 30px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.links a {
  text-decoration: none;
  margin: 0 30px;
  color: black;
}

.links a:hover {
  color: brown;
}

#wrapper {
  text-align: center;
}

#wrapper img {
  width: 250px;
  border-radius: 50%;
  margin-top: 28px;
}

#wrapper h1 {
  margin-top: 18px;
}

#wrapper p {
  padding: 8px 0;
}

#wrapper ul {
  padding: 18px;
}

#links-footer {
  text-align: center;
  margin-top: 18px;
}

#links-footer a {
  border-bottom: 2px solid brown;
}